/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --primary-link-color: #005baf;

  --button-color: #e1e1e1;
  --button-color-active: #489c79;
  --background-color: #45693342;
  --button-text-color: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

html {
  scroll-padding-top: 100px; /* Adjust based on your nav height */
}

body {
  font-family: Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #000;
}

nav {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav75 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  width: 80%;
  margin: 0 auto;
}

nav img {
  width: 100px;
  padding: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav ul li {
  margin: 0 3px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

nav button {
  width: 225px;
  color: #060606;
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
}

nav button i {
  margin-right: 8px;
}

header {
  background: #000;
  color: white;
  text-align: center;
  padding: 120px 0 50px;
}

header h1 {
  font-size: .8em;
}

header h5 {
  font-style: italic;
}  

header p {
  font-family: "Kaushan Script", serif;
  font-size: 5.5em;
  line-height: 1.1;
}

.header-buttons {
  margin-bottom: 200px;
}

header button {
  width: 225px;
  color: #060606;
  font-size: 1.1em;
  padding: 10px;
}

header button i {
  margin-right: 8px;
}

.employment-history {
  margin-top: 50px;
}

.work-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%; 
  margin: 0 auto;
}

.work-history-item {
  width: 150px;  
  height: auto;
  margin: 0 auto;
}


#projects h1 {
  text-align: center;
  
}

#projects button {
  color: #000;
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
}

#projects button i {
  margin-right: 8px;
}

#projects a {
  text-decoration: none;
}

.text-box {
  width: 400px;
  text-decoration: none;
}

.myFlix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 100px auto;
}

.myFlix img {
  width: 600px;
  height: auto;
}

.echo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 100px auto;
}

.echo img {
  width: 250px;
  height: auto;
  margin-right: 50px;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 100px auto;
}

.meet img {
  width: 600px;
  height: auto;
}

.other-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}

.other-projects i {
  margin-left: 8px;
}

.separator {
  color: black;
  font-size: 20px;
}


.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
  margin-bottom: 200px;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 40px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px; /* Adds spacing between elements */
}


.profile__portrait {
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

#contact {
  width: 60%; /* Adjust width as needed */
  margin: 300px auto; /* Center horizontally */
  text-align: center; /* Optionally center the text inside */
}

.contact-info {
  float: center;
}


.contact {
  margin: 0 50px;
  text-align: center;
}

.contact-form-list {
  width: 200px;
  margin: 0 auto;
  text-align: left;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.media-links {
  text-decoration: none;
}



@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .profile {
    max-width: 800px;
    margin: 50px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px,48px);
            transform: translate(446px,48px)
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px)
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px,48px);
            transform: translate(446px,48px)
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px)
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px)
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px)
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}
