/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
:root {

  --button-color: #e1e1e1;
  --button-color-active: #489c79;
  --background-color: #45693342;
  --button-text-color: #ffffff;
}

*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

html {
  scroll-padding-top: 150px; 
}

body {
  font-family: Verdana, sans-serif;
  line-height: 1.6;
  background-color: #636060;
  color: #fff;
}

nav {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav75 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  width: 80%;
  margin: 0 auto;
}

nav img {
  width: 100px;
  padding: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav ul li {
  margin: 0 3px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

nav button {
  width: 225px;
  color: #060606;
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
}

nav button i {
  margin-right: 8px;
}

header {
  background: #000;
  color: white;
  text-align: center;
  padding: 250px 0 50px;
}

header h1 {
  font-size: .8em;
}

header h5 {
  font-style: italic;
}  

header p {
  font-family: "Kaushan Script", serif;
  font-size: 5.5em;
  line-height: 1.1;
}

.header-buttons {
  margin-bottom: 200px;
}

header button {
  width: 225px;
  color: #060606;
  font-size: 1.1em;
  padding: 10px;
}

header button i {
  margin-right: 8px;
}

.previous-clients {
  margin-top: 50px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%; 
  margin: 0 auto;
}

.client-logos {
  max-width: 150px;  
  height: auto;
  margin: 0 auto;
}


.about-container {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  margin: 200px auto;
}

.about-img {
  padding: 15px;
  max-width: 300px;
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.about-text {
  padding: 15px;
}

.about-text p {
  padding-bottom: 20px;
}

/*
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-right: 40px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px; 
}
*/

.projects-container {
  max-width: 80%;
  margin: 0 auto;
}

.projects-container button {
  color: #000;
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
}

.projects-container button i {
  margin-right: 8px;
}

.projects-container a {
  text-decoration: none;
}

.myFlix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  margin: 20px auto;
}

.myFlix img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 5px;
}

.echo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  margin: 20px auto;
}

.echo img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  margin: 20px auto;
}

.meet img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 5px;
}

.other-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}

.other-projects a {
  color: #fff;
}

.other-projects a:hover {
  color: #000;
}

.other-projects i {
  margin-left: 8px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  color: #fff;
  padding: 50px 20px;
}
.contact-form {
  max-width: 800px;
  padding: 100px 0;
}

.contact-form h2 {
  float: left;
  margin-bottom: 15px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}
.contact-form textarea {
  height: 100px;
  resize: none;
}
.contact-form button {
  float: right;
  background: #000;
  color: white;
  border-width: 3px;
  border-color: #04b849;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}
.contact-form button:hover {
  background: #04b849;
}
@media (max-width: 1100px) {
  .contact-form {
    padding: 15px;
  }
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px auto;
  }

  .myFlix {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .meet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .echo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .nav75 {
    width: 100%;
  }

  header {
    padding: 150px 0 5px;
  }

  header p {
    font-size: 4em;
  }
  
  .other-projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}